body{
    background-color : silver;
}

.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.flash-success {
    background-color: lawngreen;
}

.flash-error {
    background-color: red;
}

#enter {
    background: black;
    font-family: Broadway;
    font-size: 50px;
    color: silver;
    width: 400px;
    height: 300px;
}

.imghome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

h1{
    font-family: Broadway;
    font-size: 50px;
}

#blaze{
    color: darkgoldenrod;
    font-family: "Bradley Hand ITC";
    font-size: 30px;
}

#nav_link {
    color: silver;
}