body{
    background-color : darkgrey;
}

.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.flash-success {
    background-color: lawngreen;
}

.flash-error {
    background-color: red;
}
