body{
    background-color : silver;
}

.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.flash-success {
    background-color: lawngreen;
}

.flash-error {
    background-color: red;
}

#enter {
    background: black;
    font-family: Broadway;
    font-size: 50px;
    color: silver;
    width: 400px;
    height: 300px;
}

.imghome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

h1{
    font-family: Broadway;
    font-size: 3rem;
}
h2{
    font-family: Broadway;
    font-size: 3rem;
}

#blaze{
    color: darkgoldenrod;
    font-family: "Bradley Hand ITC";
    font-size: 2rem;
}

#nav_link {
    font-family: "Times New Roman";
    color: silver;
    font-size: 1.3em;

}
.link{
    font-family: "Times New Roman";
    color: darkgoldenrod;
    font-size: 1.3em;
}
#hlimk{
    font-family: "Times New Roman";
    font-size: 1.4em;
}

#porte {
    color: darkgoldenrod;
    font-size: 4rem;
    font-family: Broadway;
    position: relative;
}

.h2home{
    font-family: "AR BLANCA";
    color: darkgoldenrod;
    font-size: 2rem;
}

.table_sortie {
    font-family: "AR BLANCA";
    font-size: 1.3rem;
    border: medium solid;
    border-collapse: collapse;
    text-align: center;
        }
th {
    border: thin solid;
    padding: 5px;
    background-color: darkgoldenrod;
    }
td {
    border: thin solid darkgoldenrod;
    padding: 5px;
    background-color: #ffffff;
     }
.form_user{

    text-align: right;
    padding-right: 10rem;
}
#btn_enr{
    background-color: darkgoldenrod;
    text-align: right;
    color: black;
}

.formG
{
    text-align: right;
}

.formD
{
    text-align: left;
}

#btn_sr
{
    background-color: darkgoldenrod;
    text-align: right;
}

.img_profil
{
    border: medium solid darkgoldenrod;
    float: right;
    width : 22rem;
    height: 22rem;
}
#fprofil
{
   font-family: Castellar;
}
#inputFile
{
    font-family: "Times New Roman";
}

.description
{
    text-align: center;
    font-family: "AR BLANCA";
    font-size: 1.6rem;
    border: medium solid darkgoldenrod;
    border-collapse: collapse;
}