body{
    background-color : silver;
}

.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.flash-success {
    background-color: lawngreen;
}

.flash-error {
    background-color: red;
}

#enter {
    background: black;
    font-family: Broadway;
    font-size: 50px;
    color: silver;
    width: 400px;
    height: 300px;
}

.imghome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

h1{
    font-family: Broadway;
    font-size: 4rem;
}

#blaze{
    color: darkgoldenrod;
    font-family: "Bradley Hand ITC";
    font-size: 2rem;
}

#nav_link {
    color: silver;
}

#porte {
    color: darkgoldenrod;
    font-size: 4rem;
    font-family: Broadway;
    position: relative;
}
p{
    font-family: "Times New Roman";
    font-size: 1.18rem;
    color: black;
}
.h2home{
    font-family: "AR BLANCA";
    color: darkgoldenrod;
    font-size: 2rem;
}

.table_sortie {
    border: medium solid;
    border-collapse: collapse;
        }
th {
    font-family: monospace;
    border: thin solid;
    padding: 5px;
    text-align: center;
    background-color: #D3D2C8;
    }
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
     }
