{%  extends 'base.html.twig' %}

{% block add1 %}
    <h2>Créer une sortie</h2>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <button type="submit">Créer une sortie</button>
    {{ form_end(sortieForm) }}


{% endblock %}
{% block add2 %}
{% enblock %}

