{%  extends 'base.html.twig' %}

{% block main %}
    <h2>Créer une sortie</h2>


    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <button type="submit">Créer une sortie</button>
    {{ form_end(sortieForm) }}


{% endblock %}


