{%  extends 'base.html.twig' %}

{% block main %}
    <h2>{{ sortie.nom }}</h2>

    <h2>{{ sortie.organisateur }}</h2>

    <button type="submit"><a href="{{ path('sortie_index') }}">S'inscrire à la sortie</a></button>


{% endblock %}

