{% extends 'user/index.html.twig' %}
{% block main %}
{% if is_granted ('ROLE_ADMIN')%}
   <a id="admin" href="{{ path('admin_home') }}">Administration</a>
{% endif %}
{% if is_granted ('ROLE_USER') %}
      <a id="profil" href="{{ path('profil') }}">Mon Profil !!!!</a>
{% endif %}
{% endblock %}
