{% extends 'base.html.twig' %}

{% block h1 %}
<h1 class="text-center">Bienvenue sur Sortir.com</h1>
{% endblock %}
{% block main %}
<main>
    <section class="text-center">
        <p>Toutes les portes sont des sorties rentrez-y.</p>
    </section>
</main>
{% endblock %}



