{% extends 'base.html.twig' %}

{% block h1 %}
<h1 class="text-center">Bienvenue sur Sortir.com</h1>
{% endblock %}
{% block mainhome %}
<main>
    <section class="text-center">
        <h2 class="h2home">Toutes les portes sont des sorties rentrez-y.</h2>
        <p>Pour accéder à Sortir.com, cliquez sur PORTE D'ENTRER.<br>
            Nous vous rappellons qu'une connexion est requise.<br>
            Suite à votre inscription dans notre établissement Eni Ecole Informatique,<br>
            Un mail avec un pseudo et un mot de passe vous ont été envoyé.<br>
            Si vous rencontrez un probléme pour vous connecter, contactez-nous.<br>
        </p>
    </section>
</main>
{% endblock %}



