<nav>
    <ul>
        <li><a href="">Home</a></li>
        {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="">Profil</a></li>
            <li><a href="">Logout</a></li>
        {% else %}
            <li><a href="">Login</a></li>
        {% endif %}
    </ul>
</nav>