{% extends 'base.html.twig' %}

{% block form_user %}
    <h1 align="center">INSCRIPTION</h1>
    {# Mise en place du formulaire #}
    <div class="form_user">
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    </div>
    <div>
    <br>
        <button id="btn_enr" class="btn btn-primary" type="submit">Enregistrer un(e) nouveau(elle) utilisateur(rice) !</button>
    {{ form_end(registerForm) }}
    </div>
{% endblock %}

{% block title %}Sortir.com | Inscription {% endblock %}