{% extends 'base.html.twig' %}

{% block main %}
    {# Mise en place du formulaire #}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button type="submit">Enregistrer un(e) nouveau(elle) utilisateur(rice) !</button>
    {{ form_end(registerForm) }}

{% endblock %}

{% block title %}Sortir.com | Inscription {% endblock %}